:host {
	display: block;
}

.card {
    width: 140px;
    height: 190px;
	background-image: url("/images/card_back_shadow_2.png");
}

.ace-clubs {
	background-image: url("/images/cardClubsA.png") !important;		
}

.two-clubs {
	background-image: url("/images/cardClubs2.png") !important;		
}

.three-clubs {
	background-image: url("/images/cardClubs3.png") !important;
}

.four-clubs {
	background-image: url("/images/cardClubs4.png") !important;
}

.five-clubs {
	background-image: url("/images/cardClubs5.png") !important;
}	

.five-clubs {
	background-image: url("/images/cardClubs5.png") !important;
}

.six-clubs {
	background-image: url("/images/cardClubs6.png") !important;
}

.seven-clubs {
	background-image: url("/images/cardClubs7.png") !important;
}

.eight-clubs {
	background-image: url("/images/cardClubs8.png") !important;
}

.nine-clubs {
	background-image: url("/images/cardClubs9.png") !important;
}

.ten-clubs {
	background-image: url("/images/cardClubs10.png") !important;
}

.jack-clubs {
	background-image: url("/images/cardClubsJ.png") !important;
}

.queen-clubs {
	background-image: url("/images/cardClubsQ.png") !important;
}

.king-clubs {
	background-image: url("/images/cardClubsK.png") !important;
}

.ace-diamonds {
	background-image: url("/images/cardDiamondsA.png") !important;		
}

.two-diamonds {
	background-image: url("/images/cardDiamonds2.png") !important;		
}

.three-diamonds {
	background-image: url("/images/cardDiamonds3.png") !important;
}

.four-diamonds {
	background-image: url("/images/cardDiamonds4.png") !important;
}

.five-diamonds {
	background-image: url("/images/cardDiamonds5.png") !important;
}	

.five-diamonds {
	background-image: url("/images/cardDiamonds5.png") !important;
}

.six-diamonds {
	background-image: url("/images/cardDiamonds6.png") !important;
}

.seven-diamonds {
	background-image: url("/images/cardDiamonds7.png") !important;
}

.eight-diamonds {
	background-image: url("/images/cardDiamonds8.png") !important;
}

.nine-diamonds {
	background-image: url("/images/cardDiamonds9.png") !important;
}

.ten-diamonds {
	background-image: url("/images/cardDiamonds10.png") !important;
}

.jack-diamonds {
	background-image: url("/images/cardDiamondsJ.png") !important;
}

.queen-diamonds {
	background-image: url("/images/cardDiamondsQ.png") !important;
}

.king-diamonds {
	background-image: url("/images/cardDiamondsK.png") !important;
}

.ace-hearts {
	background-image: url("/images/cardHeartsA.png") !important;		
}

.two-hearts {
	background-image: url("/images/cardHearts2.png") !important;		
}

.three-hearts {
	background-image: url("/images/cardHearts3.png") !important;
}

.four-hearts {
	background-image: url("/images/cardHearts4.png") !important;
}

.five-hearts {
	background-image: url("/images/cardHearts5.png") !important;
}	

.five-hearts {
	background-image: url("/images/cardHearts5.png") !important;
}

.six-hearts {
	background-image: url("/images/cardHearts6.png") !important;
}

.seven-hearts {
	background-image: url("/images/cardHearts7.png") !important;
}

.eight-hearts {
	background-image: url("/images/cardHearts8.png") !important;
}

.nine-hearts {
	background-image: url("/images/cardHearts9.png") !important;
}

.ten-hearts {
	background-image: url("/images/cardHearts10.png") !important;
}

.jack-hearts {
	background-image: url("/images/cardHeartsJ.png") !important;
}

.queen-hearts {
	background-image: url("/images/cardHeartsQ.png") !important;
}

.king-hearts {
	background-image: url("/images/cardHeartsK.png") !important;
}

.ace-spades {
	background-image: url("/images/cardSpadesA.png") !important;		
}

.two-spades {
	background-image: url("/images/cardSpades2.png") !important;		
}

.three-spades {
	background-image: url("/images/cardSpades3.png") !important;
}

.four-spades {
	background-image: url("/images/cardSpades4.png") !important;
}

.five-spades {
	background-image: url("/images/cardSpades5.png") !important;
}	

.five-spades {
	background-image: url("/images/cardSpades5.png") !important;
}

.six-spades {
	background-image: url("/images/cardSpades6.png") !important;
}

.seven-spades {
	background-image: url("/images/cardSpades7.png") !important;
}

.eight-spades {
	background-image: url("/images/cardSpades8.png") !important;
}

.nine-spades {
	background-image: url("/images/cardSpades9.png") !important;
}

.ten-spades {
	background-image: url("/images/cardSpades10.png") !important;
}

.jack-spades {
	background-image: url("/images/cardSpadesJ.png") !important;
}

.queen-spades {
	background-image: url("/images/cardSpadesQ.png") !important;
}

.king-spades {
	background-image: url("/images/cardSpadesK.png") !important;
}